#description {
    @include flex-column-center;
    text-align: center;
    margin: 20px;

    h1 {
        font-size: 60px;
        @include flex-column-center;
        text-transform: uppercase;

        span {
            color: $desaturated_red;
            font-weight: 300;
        }
    }
    p {
        line-height: 35px;
        color: $desaturated_red;
    }

    @media screen and (min-width: map-get($breakpoints, desktop)) {
        width: 60%;
    }
}